@model Author

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h3>Are you sure you want to delete @Model.name??</h3>
    <a asp-controller="Author" asp-action="DeleteById" asp-route-id="@Model.id" class="btn btn-outline-danger">Confirm</a>
    <a asp-controller="Author" asp-action="Table" class="btn btn-outline-success">Cancel</a>
</div>