@model IEnumerable<Genre>

@{
    ViewData["Title"] = "List of Genres";
}

<div class="text-center">
    <a asp-controller="Genre" asp-action="AddForm" class="btn btn-outline-primary col-2 m-1">Add New </a>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>S.N</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{// for printeing sn number
                int i = 0;
                var sn = i; }
            @foreach (var genre in Model)
            {
                i += 1;
                sn = i;
                <tr>
                    <td>
                        @sn
                    </td>
                    <td>
                        @genre.name
                    </td>
                    <td>
                        <a asp-controller="Genre" asp-action="ViewDetail"
                           asp-route-id="@genre.id" class="btn btn-outline-success  mb-2">View</a>
                        <br />
                        <a asp-controller="Genre" asp-action="UpdateForm"
                           asp-route-id="@genre.id" class="btn btn-outline-primary  mb-2">Update</a>
                        <br />
                        <a asp-controller="Genre" asp-action="DeletePopUp"
                           asp-route-id="@genre.id" class="btn btn-outline-danger mb-2">Delete</a>
                    </td>
                </tr>
            }

        </tbody>

    </table>



</div>
